image: python:3.11

variables:
  POETRY_VERSION: "1.8.2"
  POETRY_VIRTUALENVS_CREATE: "true"
  POETRY_VIRTUALENVS_IN_PROJECT: "true"
  PIP_NO_CACHE_DIR: "off"
  PIP_DISABLE_PIP_VERSION_CHECK: "on"
  PYTHONPATH: "$CI_PROJECT_DIR"

before_script:
  - python -m pip install --upgrade pip
  - pip install poetry==${POETRY_VERSION}
  - poetry install

stages:
  - lint
  - test
  - build
  - deploy-testpypi
  - execute
  - generate-docu

lint:
  stage: lint
  script:
    - poetry run ruff check .

test:
  stage: test
  script:
    - poetry run pytest --junitxml=tests/report.xml
  artifacts:
    reports:
      junit: tests/report.xml

build:
  stage: build
  script:
    - poetry build
  artifacts:
    paths:
      - dist/
    expose_as: 'HuggingLigand Package'
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+$/'

deploy-testpypi:
  stage: deploy-testpypi
  script:
    - poetry config repositories.testpypi https://test.pypi.org/legacy/
    - poetry config pypi-token.testpypi $TESTPYPI_TOKEN # value defined in GitLab CI/CD variables
    - poetry publish --repository testpypi
  dependencies:
    - build
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
  environment:
    name: testpypi
    url: https://test.pypi.org/project/huggingligand/

execute:
  stage: execute
  variables:
    HF_HOME: "$CI_PROJECT_DIR/.cache/huggingface"
  script:
    - mkdir -p results
    - poetry run python src/scripts/cli.py --text-only --output-dir results -vv --rows 10
  artifacts:
    paths:
      - results/
    expose_as: 'Execution Results'
    expire_in: '1 week'
  cache:
    key:
      files:
        - poetry.lock
    paths:
      - .cache/huggingface/
    policy: pull-push

pages:
  stage: generate-docu
  script:
    - poetry run python docs/config/generate_api_rst.py
    - poetry run sphinx-build -b singlehtml docs/config/ public/
  artifacts:
    paths:
      - public