stages:
  - lint
  - test

variables:
  POETRY_VIRTUALENVS_CREATE: false
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

before_script:
  - apt-get update && apt-get install -y python3.11 python3.11-venv curl
  - curl -sSL https://install.python-poetry.org | python3 -
  - export PATH="$HOME/.local/bin:$PATH"
  - poetry env use python3.11
  - poetry install

lint:
  stage: lint
  script:
    - poetry run ruff check .
  allow_failure: false

test:
  stage: test
  script:
    - poetry run pytest -m "not slow"